
body {
    padding:0px;
    margin: 0px;
    background-color: white;
    color: black;
    font-weight: 300; 
    font-size: 13pt;
}


/* text styling */
strong {
  font-weight: 600;         
}

.warm {
  color: steelblue;
  text-align: justify;
}

.cool {
  color: #ccccff;
}


/* these are all the same for now, but easy to modify individually */
#container-ad, #container-error, #container-exp, #container-consent, #container-instructions, #container-questionnaire {
    padding: 100px;
    padding-top: 5%;
    border: 18px solid #f3f3f3;
    background: white;
    min-height: 100vh;
}

#container-consent, #container-exp {  /* override padding to fit long consent forms and exp display*/
  padding-left: 20px;
  padding-right: 20px;
}

/* ad.html  - the ad that people view first */
#adlogo {
    float: right;
    width: 140px;
    padding: 2px;
    border: 1px solid #ccc;
}

/* consent.html - the consent form */
#consent {
  margin: 0 auto;
  margin-top: 0;
  width: 800px;
  font-size: 100%;
}

.legal {
  text-align: justify;
  font-size: 11pt;
  line-height: 1.1em;
}

#trial {
  margin: 0 auto;
  width: 800px;
}

#headline {
  height: 50px;
}

#query {
  font-size: 18px;
  margin-top: 30px;
  color: black;
}

.question {
  margin-bottom: 30px;
}

.btn-yes {
  margin-top: 15px;
  /*margin-left: 175px;*/
}
.btn-no {
  margin-top: 15px;
  margin-left: 50px;
}

#premise, #conclusion {
  font-size: 18px;
}

#conclusion {
  margin-top: 20px;
}

#sliders {
  margin-top: 25px;
}

.text-and-slider {
  margin-top: 10px;
}

.slider {
  margin-top: 10px;
}

.slider-value {
  color: red;
}

.btn-estimates {
  margin-top: 10px;
}

/* errors */
#error img {
  padding-right: 10px;
  padding-top: 15px;
}