<!doctype html>

<html>
	<head>
		<title>Psychology Experiment</title>
		<link rel=stylesheet href="{{ @BASE }}/static/css/bootstrap.min.css" type="text/css">
		<link rel=stylesheet href="{{ @BASE }}/static/css/style.css" type="text/css">
	</head>
	<body>
		<div id="container-ad">

			<div id="ad">
				<div class="row">
					<div class="col-xs-2">
						<!-- REPLACE THE LOGO HERE WITH YOUR UNIVERSITY, LAB, or COMPANY -->
						<img id="adlogo" src="{{ @BASE }}/static/images/university.png" alt="Lab Logo" style="width: 200px;" />
					</div>
					<div class="col-xs-10">
						<h1>Debriefing</h1>

						<div id="debriefingtext">
							<p>
								Thank you for your participation in our study! Your anonymous data makes an
								important contribution to our understanding of how people make certain inferences.
							</p>
							<p>
								If you are interested in this research, we recommend that you take a look at the following topics in an introductory psychology textbook: reasoning, logic, mental models. 
							</p>
							<p>
								If you have any questions about this research, you may contact the principal investigator, Thomas Hinterecker, thomas.hinterecker@psychol.uni-giessen.de.
							</p>
							<p>
								Please click on this completion URL to show that you have finished the study:
								<br />
								<a href="https://prolificacademic.co.uk/submissions/complete/5526eb96fdf99b67b0ef8309?cc=RNSD9QSH" target="_blank">https://prolificacademic.co.uk/submissions/complete/5526eb96fdf99b67b0ef8309?cc=RNSD9QSH</a>
								<br />
								Afterwards, you can close this window.
							</p>
						</div>
					</div>
			</div>
		</div>
	</body>
</html>