<div id="container-questionnaire">
    <h1>Task Complete</h1>

    <hr>

    <p>You are finished!  Thank you for your contributions to science. You will find the completion link after you answer the following questions.</p>

    <div class="instructions well">

        <form id="postquiz" action="debrief" method="post">

            <div class="question">
                <p class="questiontext">
                How many logic coursed did you attend in the past?
                </p>
                <select id="logic_courses" name="logic_courses">
                    <option value="noresp" SELECTED></option>
                    <option value="0">0</option>
                    <option value="1">1</option>
                    <option value="2">2</option>
                    <option value="gt2">More than 2</option>
                </select>
            </div>

            <div class="question">
                <p class="questiontext">
                    On a scale of 1-10 (where 10 is the most engaged), please rate how <b>ENGAGING</b> you found the reasoning task:
                </p>
                <select id="engagement" name="engagement">
                    <option value="10">10 - Very engaging</option>
                    <option value="9">9</option>
                    <option value="8">8</option>
                    <option value="7">7</option>
                    <option value="6">6</option>
                    <option value="5" SELECTED>5 - Moderately</option>
                    <option value="4">4</option>
                    <option value="3">3</option>
                    <option value="2">2</option>
                    <option value="1">1</option>
                    <option value="0">0 - Not engaged</option>
                </select>
            </div>

            <div class="question">
                <p class="questiontext">
                    On a scale of 1-10 (where 10 is the most difficult), please rate how <b>DIFFICULT</b> you found the reasoning task:
                </p>
                <select id="difficulty" name="difficulty">
                    <option value="10">10 - Very difficult</option>
                    <option value="9">9</option>
                    <option value="8">8</option>
                    <option value="7">7</option>
                    <option value="6">6</option>
                    <option value="5" SELECTED>5 - Moderately difficult</option>
                    <option value="4">4</option>
                    <option value="3">3</option>
                    <option value="2">2</option>
                    <option value="1">1</option>
                    <option value="0">0 - Not difficult at all</option>
                </select>
            </div>

            <div class="question">
                <p class="questiontext">
                    Do you have any other thoughts or suggestions about the task?
                </p>
                <textarea id="howtoimprove" cols=50 rows=3 /></textarea>
            </div>

        </form>
    </div>

    <hr>

    <div class="instructionsnav">
        <div class="row">
            <div class="col-xs-2">
            </div>
            <div class="col-xs-8">
                <center>
                    <button type="button" id="next" value="next" class="btn btn-primary btn-lg continue">
                        Continue <span class="glyphicon glyphicon-arrow-right"></span>
                    </button>   
                </center>         
            </div>
            <div class="col-xs-2">
            </div>
        </div>
    </div>


</div>
