<div id="container-instructions">

    <h1>Instructions (2/2)</h1>

    <hr>

    <div class="instructions well">

        <p>
            You'll perform two different task in two seperate blocks. In each block you'll assess 13 problems. On each problem, you'll be presented with two assertions.
        </p>
        <p>
            In one block your task will be to determine whether both assertions of a particular problem could be true at the same time. In the other block you'll be provided with a given probability for the first assertion of a problem and you'll have to estimate probabilities of the second assertion. Each problem will ask you to read the assertions before performing a task. Each block will repeat the necessary instructions.
        </p>
        <br />
        <p>
            Please read all of the sentences carefully! Take your time to think about your responses and do not merely guess.
        </p>
        <br />
        <p>
            As soon as you are ready to start the experiment, press the "Begin experiment" Button.
        </p>

        <script type="text/javascript">
        //console.log(psiTurk.getInstructionIndicator())
        </script>

    </div>

    <hr>

    <div class="instructionsnav">
        <div class="row">
            <div class="col-xs-2">
            	<!--  Maybe not previous button on this screen? -->
                <button type="button" id="next" value="next" class="btn btn-primary btn-lg previous">
                <span class="glyphicon glyphicon-arrow-left"></span> Previous
                </button>
            </div>
            <div class="col-xs-8">
            	<center>
	                <button type="button" id="next" value="next" class="btn btn-success btn-lg continue">
	                Begin experiment <span class="glyphicon glyphicon-arrow-right"></span>
	                </button>
	            </center>
            </div>
            <div class="col-xs-2">

            </div>
        </div>
    </div>

</div>
