<div id="container-instructions">

	<h1>Instructions</h1>

	<hr>

	<div class="instructions well">

	    <p>
            Welcome to the experiment!
        </p>
        <p>Please read this instructions carefully!</p>
        <p>
            Your task will be to make some inferences, and to estimate some probabilities. The study is not a test of intelligence or personality; we are interested instead in the pattern of people's responses. 
        </p>
        <br />
        <p>
            Before you continue, please:<br />
            – maximize your browser window;<br />
            – switch off phone/e-mail/music &amp; anything else distracting;<br />
            – bear in mind that reloading or leaving the experiment will result in an incomplete dataset. You cannot restart the experiment.
        </p>

	    <script type="text/javascript">
	    //console.log(psiTurk.getInstructionIndicator())
	    </script>

	</div>

	<hr>


    <div class="instructionsnav">
        <div class="row">
            <div class="col-xs-2">
            	<!-- no previous button on first screen -->
            </div>
            <div class="col-xs-8">
                <center>
                    <button type="button" id="next" value="next" class="btn btn-primary btn-lg continue">
                    Next <span class="glyphicon glyphicon-arrow-right"></span>
                    </button>
                </center>
            </div>
            <div class="col-xs-2">
            </div>
        </div>
    </div>

</div>
